body{
    font-family: 'Nanum Gothic', sans-serif;
    background-color:#6fd3f1;
    background-repeat: no-repeat;
}
.main {
    width:400px;
    height: 600px;
    border-top-left-radius: 50px;
    border-top-right-radius:50px;
    background-color: #1c335c;
    color:antiquewhite;
    margin:20px auto;
    border: 3px double #60e060;
    box-shadow:3px 3px 3px 3px #60e060;
}
.main h1{
    margin:5px; 
    padding:10px 5px;
    text-align: center;
    text-transform: uppercase;
}
.main h3{
    margin:10px;
    padding:5px;
}
img {
    width:400px;
    height:200px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.text-for-icons{
    padding-left: 3px;
}
#icons{
    
    padding:10px 15px;
    color:#05c905;
}
#icons:hover{
    color:antiquewhite;
    background-color: #05c905;
}
.text-for-icons:hover{
    color:#1c335c;
    background-color: antiquewhite;
}
/*menja dev po redu broj dva,ali ne menja sve kartice,vec samo jednu .main nth-of-type(2)*/
.main:nth-of-type(2) {
    width:400px;
    height: 600px;
    background-color: #94add8;
    color:rgb(224, 159, 73);
    margin:20px auto;
    border: 3px double #60e060;
    box-shadow:3px 3px 3px 3px #60e060;
}
