*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
font-family: 'Mulish', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Open Sans', sans-serif
}   
   body{
    background-color: rgb(189, 189, 189);
    cursor: pointer;
   }
   
   
header {
    width:100vw;
    height: 20vh;
    background-color: #b789ce;
}

img{
padding-left: 2%; 
padding-top: 0.5%;   
width:10%;
height:90%;
}

.links{
    margin-left: 18rem;
    
}

.links a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #0d0dfc;
    padding-right: 0.5rem;
    text-transform: uppercase;
    cursor:pointer;
    margin-bottom: 3rem;
}
.links a:visited{
        padding: 0.5rem;
        background-color: #0e5e26;
        border-radius: 10px;
        color:white;
}
.links a:hover{
        padding: 0.5rem;
        background-color: rgb(37, 30, 97);
        border-radius: 10px;
        color: #8f3636;
    
}

.links a:active{
    padding: 0.5rem;
    border-radius: 10px;
    color:chartreuse;
}
.main{
      float:left;
      width:35%;
      height:50vh;
      padding: 5rem;
      margin-top:6rem;
      margin-left:5rem ;


    
}
.main p{
    color:rgb(0, 0, 0);
    margin:55px 20px 30px 55px ;
    font-size: 15px;
    
}
.main h1{
    color:#0d0dfc;
    font-size: 80px;
}
.main2{
    float:right;
    margin:80px 50px 20px;
    border: solid rgb(35, 48, 219);
    border-radius: 20px;
    width:400px;
    height: 400px;
    background-color: white;
    text-align: center;

}
.main2 label+input[type="text"]{
    width:350px;
    height:50px;
    margin:20px;
    background-color: #c4c1c1;
    border: none;


}
.main2 label+input[type="password"]{
    width:350px;
    height:50px;
    margin:20px;
    background-color:#c4c1c1 ;
    border: none;
}
.main2 button[type="submit"]{
    width:350px;
    height:50px;
    margin:20px;
    background-color: blue;
    border: none;
}
.main2 button[type="reset"]
{
    width:350px;
    height:50px;
    margin-bottom: 30px;
    background-color: rgb(23, 230, 23);
    border: none;
    
}
