*{
    margin:0;
    box-sizing: border-box;
}
img{
    width: 50%;
    height: 60vh;
    /*float: right;*/
    float:left;
    margin:1rem;
    text-align: justify;
}

.first {
    width:60%;
    height: 55vh;
    background-color: rgba(255, 0, 0, 0.5);
    clear:both;
    float:left;
}
.second {
    width:35%;
    height: 75vh;
    background-color: rgb(125, 211, 39);
    float: right;
}
