*{
    margin: 0;
    box-sizing: border-box;
}

body{
    height:150px;
    weight:150px;
    float: left;
}

.box1{
    background-color: aqua;
}
.box2{
    background-color: rgb(41, 22, 153);
}
.box3{
    background-color: rgb(9, 255, 0);
}
.box4{
    background-color: rgb(255, 0, 179);
}
.box5{
    background-color: rgb(187, 255, 0);
}
.box6{
    background-color: rgb(255, 0, 0);
}
.box7{
    background-color: rgb(180, 29, 67);
}
.box8{
    background-color: rgb(83, 150, 92);
}
