*{
    margin: 0;
    box-sizing: border-box;
}
.main{
    width:50%;
    height:50vh;
    /*background-color: rgb(0, 0, 255, 0.5); dodat je opacity na background color*/
    background-color: rgb(0, 0, 255, 0.5);
    opacity:0.5;/*Dodat je opacity na ceo sadrzaj sa klasom .main*/
}
.main2{
    width:50%;
    height:50vh;
    background-image: url();
}
