@import url(https://fonts.google.com/specimen/Poppins?query=poppins); 


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" sans-serif;
}
nav{
    display: flex;
    width: 100%;
    position: relative;
    background:#07628b;
   justify-content: space-between;
    text-align: center;
    padding: 15px 20px;
}
nav .put{
    font-size: 35px;
    font-weight: 1000;
    color:#fcfcfc;
    cursor: pointer;
}
nav ol{
    display: flex;
    list-style: none;
    margin:auto 0;
    }
    nav ol li {
        margin:0px 2px;
    }
    nav ol li a{
        color:aliceblue;
        font-size:15px;
        text-decoration: none;
        text-transform: capitalize;
        letter-spacing: 1px;
        padding: 5px 10px;
    }
    nav ol li a:hover{
        color:#07628b;
        background-color: aliceblue;
    }
nav .search_box{
    display: flex;
    margin: auto;
    height: 35px;
    line-height: 35px;
}
nav .search_box input{
    border:none;
    outline: none;
    background-color: #fafafa;
    height: 100%;
    padding: 0 10px;
    font-size: 20px;
    width: 350px;
}
nav .search_box span{
    color:#07628b;
    font-size:20px;
    padding: 8px;
    height: 100%;
    position: relative;
    cursor: pointer;
    z-index: 1;
}
nav .search_box span:hover{
    color: #fcfcfc;
}
nav .search_box span::after{
    height: 100%;
    width: 100%;
    background-color: coral;
    position:absolute;
    top:0;
    right:0;
    z-index:-1;
    transitions:0,3s;

}
nav .search_box span:hover::after{
    width:100%;
}
nav .bar{
    position: relative;
    margin: auto;
    display:none;
}
nav .bar span{
    position: absolute;
    color:#fafafa;
    font-size: 35px;
}
input[type=type="checkbox"]{
    -webkit-appearance: none;
    display:none;
}
@media screen and (max-width:1250px) {
    nav{
        display: block;
        padding: 0%;
    }    
    nav .put{
        display: inline-block;
        padding: 15px 20px;
    }
    nav .search_box{
        display: inline-flex;
        width: 100%;
        justify-content: center;
        margin-bottom: 15px;
    }
    nav .search_box input{
       width: 90%;
    }
    nav ol{
          display: flex;
          flex-direction: column;
    }
    
}
section {
    background: url(image1.png);
    height:100%;
    aidth:100%;
    position: absolute;
    background-position: center;
    background-size: cover;
    top:0;
    z-index: -1;
    filter:brightness(30%)
}